.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: var(--color-bg-base);
  color: var(--color-fg-primary);
  font-family: var(--font-sans);
  font-size: var(--font-size-md);

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
  }

  &__content {
    flex-grow: 1;
    min-height: 0;
  }
}
